.container {
  display: flex;
  width: 328px;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  text-align: start;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button_container {
  display: flex;
  overflow: visible;
  max-width: 328px;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}
