.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  text-align: start;
}

@media screen and (width >= 768px) {

  .container {
    width: 328px;
  }
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button_container {
  display: flex;
  overflow: visible;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}
