.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  text-align: start;
}

@media screen and (width >= 768px) {

  .container {
    width: 920px;
  }
}

.fieldset {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.button_container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
}

@media screen and (width >= 768px) {

  .button_container {
    width: 50%;
    flex-direction: row;
  }
}
